*{margin: 0;padding: 0}
.bac_box{background-repeat: no-repeat;background-position: center center;background-size: cover;}
.bac_1{background-image: url(../img/1.png);}
.bac_2{background-image: url(../img/6.jpg);}
.bac_3{background-image: url(../img/one.jpg);}
.bac_4{background-image: url(../img/1.png);}