.job_nav{width: 70%;margin: auto;height: 76px;}
.job_logo{position: absolute;}
.job_logo img{width: 120px;height: 100px;}
.job_nav_ul{overflow: hidden;margin:0 0 0 200px;font-size: 30px;}
.job_nav_ul li{float: left;list-style-type: none;}
.job_nav_ul li + li {margin-left: 10%;}
.job_nav_ul li a{display: block;padding: 16px;text-decoration: none;color: white;}
.job_content ul{padding: 0;margin: 0;}
.job_content li{list-style-type: none;background-repeat: no-repeat;background-position: 50% 50%;background-size: cover;}
#job_content_li_img_1{background-image: url(../img/one2.jpg);}
#job_content_li_img_2{background-image: url(../img/6.jpg);}
#job_content_li_img_3{background-image: url(../img/1.png);}
#job_content_li_img_4{background-image: url(../img/6.jpg);}
.job_content_li{position: absolute;top:0px;z-index:-1;}
.job_content_action{width: 70px;height: 70px;border-radius: 35px;background: rgb(236, 245, 243);position: absolute;opacity: 0.7;}
.job_content_action{padding: 11px;}
.action_left{left: 1%;top:50%;}
.action_right{right: 1%;top:50%;}
.action_up{left: 1%;top: 90px}
.action_down{left: 1%; bottom:14px;}
.nav_title_active{border-top: 10px solid red;}

.first_page_lab_name{text-align: right;display: block;margin: 15% 20% 0 0%;color: white;font-size: 70px;}

.job_nav_box{background-image: url(../img/pix.png);}